<div class="container">
  <div class="row" *ngIf="productOrigin && productOrigin.commodityCode">
    <ngb-carousel *ngIf="productOrigin.commodityCode.listMediaItem">
      <ng-template ngbSlide *ngFor="let item of productOrigin.commodityCode.listMediaItem">
        <img [src]="item.imageUrl" alt="Random slide">
      </ng-template>
    </ngb-carousel>
  </div>
  <div class="row" *ngIf="batchCode">


      <div class="col-12">{{productOrigin.commodityCode.name}}</div>


    <div class="col-12">{{batchCode.batchCode}}</div>
    <div class="col-12">{{batchCode.plantBaseName}}</div>
  </div>
</div>


    <ngb-tabset>
      <ngb-tab title="种植信息">

        <ng-template ngbTabContent>
          <div class="card-body">
            <ul class="timeline" *ngIf="batchCode && batchCode.listMediaItem">
              <li *ngFor="let item of batchCode.listMediaItem">
                <div class="timeline-badge"><i class="fa fa-check"></i>
                </div>
                <div class="timeline-panel">
                  <div class="timeline-heading">
                    <h4 class="timeline-title">{{item.name}}</h4>
                    <p></p>
                  </div>
                  <div class="timeline-body">
                    <p [innerHtml]="item.content"></p>
                  </div>
                </div>
              </li>
              </ul>
            </div>
          </ng-template>
        </ngb-tab>
      <ngb-tab title="检测信息">

        <ng-template ngbTabContent>
          <div class="card-body">
            <ul class="timeline">
              <li *ngFor="let item of batchCode.listMediaItem">
                <div class="timeline-badge"><i class="fa fa-check"></i>
                </div>
                <div class="timeline-panel">
                  <div class="timeline-heading">
                    <h4 class="timeline-title">{{item.name}}</h4>
                    <p></p>
                  </div>
                  <div class="timeline-body">
                    <p [innerHtml]="item.content"></p>
                  </div>
                </div>
              </li>
            </ul>
          </div>
        </ng-template>
      </ngb-tab>
      <ngb-tab title="物流信息">

        <ng-template ngbTabContent>
          <div class="card-body">
            <ul class="timeline">
              <li *ngFor="let item of listOriginTrans">
                <div class="timeline-badge"><i class="fa fa-check"></i>
                </div>
                <div class="timeline-panel">
                  <div class="timeline-heading">
                    <h4 class="timeline-title">{{item.createDateTime}}-{{item.city}}</h4>
                    <p></p>
                  </div>
                  <div class="timeline-body">
                    <p >{{item.address}}</p>
                  </div>
                </div>
              </li>
            </ul>
          </div>
        </ng-template>
      </ngb-tab>

    </ngb-tabset>
